@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    font-family: "Plus Jakarta Sans";
}
.Block-main{
    background: #3b3b3b0c;
    margin: 0px auto;
    width: 1440px;
    max-height: 9600px;
    height: 100%;
    padding: 64px 0px 0px 96px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-around;
    .block-1{
        width: 390px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex-wrap: nowrap;
        align-items: start;
        align-content: stretch;
        justify-content: start;
        img{
            max-width: 317px;
            width: 100%;
            height: auto;
        }
        .name{
            width: 371px;
            height: 44px;
            font-size: 36px;
            font-weight: 700;
        }
        .role{
            width: 243px;
            height: 33px;
            font-size: 24px;
            font-weight: 500;
            color: #ff5c00;
            margin-top: -28px;
        }
        .block-bottom{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap-reverse;
            align-items: start;
            align-content: stretch;
            justify-content: start;
            column-gap: 24px;
            row-gap: 16px;
            img{
                width: 40px;
                height: 40px;
            }
            .-img:nth-child(1){
                display: flex;
                justify-content: start;
                align-items: center;
            }
            .-img:nth-child(2){
                display: flex;
                justify-content: start;
                align-items: center;
            }
            .-img:nth-child(3){
                display: flex;
                justify-content: start;
                align-items: center;
            }
            .-img:nth-child(4){
                display: flex;
                justify-content: start;
                align-items: center;
            }
            .-img span{
                margin-left: 5px;
                font-size: 18px;
                font-size: 18px;
                font-weight: 500;
            }
        }
        .creative{
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            width: 373px;
            a{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                align-content: stretch;
                justify-content: center;
                background: #e7e7e7FF;
                border-radius: 30px;
            }
            a:nth-child(1){
                width: 86px;
                height: 31px;
            }
            a:nth-child(2){
                width: 86px;
                height: 31px;
            }
            a:nth-child(3){
                width: 76px;
                height: 31px;
            }
            a:nth-child(4){
                width: 104px;
                height: 31px;
            }
            a:nth-child(5){
                width: 86px;
                height: 31px;
            }
        }
        .about{
            width: 91px;
            height: 36px;
            font-size: 30px;
            font-weight:600;
        }
    }
    .block-2{
        width: 336px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: start;
        align-content: stretch;
        justify-content: start;
        gap: 32px;
        span{
            font-weight: 700;
            font-size: 30px;
        }
        p{
            font-size: 16px;
            line-height: 1.6;
            margin: 5px;
        }
        .list{
            display: flex;
            flex-direction: column;
            align-items: start;
            align-content: stretch;
            justify-content: start;
            gap: 5px;
        }
    }
    .block-3{
        
    }
}
